* {
    padding: 0;
    margin: 0;
}

body {
    height: 1000px;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 10px;
    background-color: #333;
    color: whitesmoke;
}

#toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50px;
    width: 50px;
    cursor: pointer;
    gap: 6px;
}

#toggle span {
    background-color: white;
    width: 22px;
    height: 3px;
    border-radius: 1px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}

#toggle.active span:nth-of-type(1){
    transform: rotate(45deg) translateX(5px) translateY(11px);
    width: 15px;  
}

#toggle.active span:nth-of-type(2){
    transform: scale(0);
    transition-duration: 50ms  
}

#toggle.active span:nth-of-type(3){
    transform: rotate(-45deg) translateX(8px) translateY(0px);
    width: 15px; 
}

nav {
    display: block;
    position: fixed;
    top: 0;
    right: -1000px;
    width: 60dvw;
    height: 100dvh;
    padding: 20px;
    background-color: white;
    border-radius: 10px 0 0 10px;
    transition: .3s;
}

nav.active {
    transform: translateX(-1000px);
}

#nav_hd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

#nav_hd h1 {
    font-size: 30px;
}

#nav_btn {
    display: flex;
    flex-direction: column;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

#nav_btn span {
    background-color: black;
    width: 20px;
    height: 2px;
    border-radius: 2px;
}

#nav_btn span:nth-of-type(1){
    transform: rotate(45deg) translateX(18px) translateY(6px); 
}

#nav_btn span:nth-of-type(2){
    transform: rotate(-45deg) translateX(-5px) translateY(16px); 
}

nav ul li {
    list-style: none;
    margin: 10px 0;
}

nav a {
    display: block;
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    padding: 15px 20px;
    border-radius: 4px;
    transition: .3s;
}

nav a:hover {
    background-color: #cca2d84d;
}